<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>18.广播事件</title>
	<script type="text/javascript" src="./js/vue.js"></script>
    <style>
        .parent{
            width:300px;
            height:100px;
            border:1px solid blue;
            padding:10px;
            margin-bottom:10px;
        }
        .parent h1{
            font-size:20px;
        }
        .son{
            width:300px;
            border:1px solid red;
            padding:10px;
        }
        .son h1{
            font-size:20px;
        }
    </style>
</head>
<body>
    <h1>$broadcast实例,父组件向子组件派发事件</h1>
	<div id="app">
        <div class="parent">
            <h1>父组件</h1>
             <input v-model="msg" />
             <button v-on:click="notify">Broadcast Event</button>
        </div>
        <div class="son">
            <h1>子组件</h1>
            <child-component></child-component>
        </div>
        
    </div>

    <template id="child-component">
        <ul>
            <li v-for="item in messages">
                父组件录入了信息：{{ item }}
            </li>
        </ul>
    </template>

<script>
    // 注册子组件
    Vue.component('child-component', {
        template: '#child-component',
        data: function() {
            return {
                messages:[]
            }
        },
        events:{
            'parent-msg':function(msg){
                this.messages.push(msg);
            }
        }
    });

    // 初始化父组件
    new Vue({
        el: '#app',
        data: {
            msg:''
        },
        methods:{
            notify:function(){
                var msg=this.msg.trim();
                this.$broadcast('parent-msg',msg);
                this.msg='';
            }
        }
    })
</script>
</body>
</html>