<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>19.curd实例step1</title>
	<link rel="stylesheet" href="./css/style.css">
	<script type="text/javascript" src="./js/vue.js"></script>
</head>
<body>
	<div id="app">
		<div class="container">
			<div class="form-group">
				<label for="">search</label>
				<input type="text" class="search-input" v-model="searchQuery">
			</div>
		</div>
		<div class="container">
			<simple-grid :data-list="people" :colums="colums" :search-key="searchQuery"></simple-grid>
		</div>
	</div>
	<template id="grid-template">
		<table>
			<thead>
				<tr>
					<th v-for="col in colums">
						{{col.name}}
					</th>
					<th>删除</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(index,entry) in dataList | filterBy searchKey">
					<td v-for="(index,col) in colums">
						{{entry[col.en]}}
					</td>
					<td class="text-center">
                        <button @click="deleteItem(index)">delete</button>
                    </td>
				</tr>
			</tbody>
		</table>
	</template>
<script>
	var ajaxData=[
    	{
            name: 'Jack',
            age: 30,
            sex: 'Male'
        }, {
            name: 'Bill',
            age: 26,
            sex: 'Male'
        }, {
            name: 'Tracy',
            age: 22,
            sex: 'Female'
        }, {
            name: 'Chris',
            age: 36,
            sex: 'Male'
        }
    ]
    Vue.component('simple-grid',{
    	template:'#grid-template',
    	props:['dataList','colums','searchKey'],
    	methods:{
    		deleteItem:function(index){
                this.dataList.splice(index, 1);
    		}
    	}
    });
    new Vue({
    	el:'#app',
    	data:{
    		searchQuery:'',
    		colums:[
    			{
    				name:'姓名',
    				en:'name'
    			},
    			{
    				name:'年龄',
    				en:'age'
    			},
    			{
    				name:'性别',
    				en:'sex'
    			}
    		],
    		people:ajaxData
    	}
    });
</script>

</body>
</html>